.ticket-card-container {
    border: 1px solid var(--grayColor);
    width: 15%;
    height: 227px;
    overflow: hidden;
    background: var(--ticketNewColor);
    display: flex;
    flex-direction: column;
    padding: 13px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-right: 20px;
}

.ticket-card-container.active {
    background: var(--ticketActiveColor);
}

.ticket-card-container.closed {
    background: var(--ticketClosedColor);
}

.ticket-card-container .edit-delete-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 15px;
    cursor: pointer;
}

.ticket-card-container .edit-delete-container svg {
    pointer-events: none;
}

.ticket-card-container .edit-delete-container svg:first-child {
    margin-right: 3px;
}

.ticket-card-container .edit-delete-container>div:hover {
    color: var(--redColor);
}

.ticket-card-container h1,
.ticket-card-container h2,
.ticket-card-container h4 {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow-wrap: break-word;
}

.ticket-card-container p {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
}

@media (max-width: 823px) {
    .ticket-card-container {
        width: 22%;
    }
}

@media (max-width: 720px) {
    .ticket-card-container {
        width: 30%;
    }
}

@media (max-width: 576px) {
    .ticket-card-container {
        width: 44%;
    }
}

@media (max-width: 375px) {
    .ticket-card-container {
        width: 100%;
    }
}