:root {
  --bgColor: #f7f0de;
  --darkColor: #3d3434;
  --redColor: red;
  --grayColor: #999;
  --lightColor: white;
  --ticketNewColor: lightyellow;
  --ticketActiveColor: #add;
  --ticketClosedColor: #c1e2c1;
}

body {
  margin: 0;
}