#welcome-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--bgColor);
}

#welcome-page-container>div {
    width: 550px;
    height: 300px;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 1px solid var(--darkColor);
    overflow: hidden;
}

#welcome-page-container img {
    width: 300px;
    height: inherit;
}

#welcome-page-container #welcome-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 20px;
    color: var(--darkColor);
}

#welcome-page-container #welcome-message button {
    width: -webkit-fill-available;
    border: none;
    background: var(--darkColor);
    color: white;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
}